<div class="column">
	<div class="ui card">
		<div class="content">
			<img class="ui image senator-jiggle" style="clip-path: circle(100px at center)" 
				src="{{senator.data.picture-url}}"/>
			<br>
			<div class="center aligned header">{{senator.data.full-name}}<br></div>
			<div class="center aligned header">30 anos no poder</div>

		</div>
	</div>
</div>