<div class="four wide column">
	<div class="ui card">
		<div class="content">
			<img class="ui image senator-jiggle" style="max-width: 150px; clip-path: circle(100px at center)" 
				src="{{senator.data.picture-url}}"/>
			<br><br>
			<div class="center aligned header">{{senator.data.full-name}}<br></div>
		</div>
	</div>
</div>