<div class="ui card">
	<div class="content">
	    <div class="center aligned header">
			Pessoas contratadas
		</div>
		<div class="left aligned">
			{{{hired_ppl resources.data}}}
		</div>
		
	</div>
</div>