<div class="four wide column">
	<div class="ui card">
		<div class="content">
			<div class="left aligned">
				<div class="ui tiny statistic">
					<div class="value">
						{{{hired_ppl resources.data}}}
					</div>
					<div class="label">
						pessoas contratadas em média, por ano de mandato
					</div>
				</div>
			</div>
		</div>
	</div>
</div>