<div class="four wide column">
	<div class="ui card">
		<div class="content">
		    <div class="center aligned header">
				Pessoal contratado
			</div>
			<div class="left aligned">
				{{{hired_ppl resources.data}}}
			</div>
		</div>
	</div>
</div>