<div class="ui borderless grid stackable fixed menu" id="main-menu">

	<div class="two wide column header item">
		<i class="crosshairs icon"></i>
		<a href="/">Foca na Foca</a>
	</div>

	<div class="ten wide column">
		<div class="ui fluid icon input">
			<input type="text" placeholder="Encontre um político...">
			<i class="search icon"></i>
		</div>
	</div>

	<div class="ui secondary stackable four wide column menu">
		<a class="item ">
			About Us
		</a>
		<a class="item">
			Jobs
		</a>
		<a class="item">
			Locations
		</a>
	</div>
</div>