<div class="ui card">
	<div class="center aligned content">
		<div class="ui tiny red statistic">
			<div class="value">75%</div>
			<div class="label">de presença<br>nas sessões</div>
		</div>
	</div>
</div>