<div class="ui pointing secondary menu">
	<!-- tab itens -->
	<a class="item active" data-tab="first">{{senator.data.full-name}}</a>
	<a class="item" data-tab="second">Missões</a>
	<a class="item" data-tab="third">Comissões</a>
	<a class="item" data-tab="forth">Mandatos Anteriores</a>
	<a class="item" data-tab="fifth">Autoria de Projetos</a>
</div>

<!-- tab content -->
<div class="ui tab active" data-tab="first">
	{{> senator-bio}}
</div>

<div class="ui tab " data-tab="second">
	{{> senator-mission}}
</div>

<div class="ui tab " data-tab="third">
	{{> senator-comission}}
</div>

<div class="ui tab " data-tab="forth">
	{{> senator-past-mandates}}
</div>

<div class="ui tab " data-tab="fifth">
	{{> senator-projects}}
</div>