<div class="four wide column">
	<div class="ui card">
		<div class="ui content">
			<div class="header">Projetos</div>

			<h5 class="ui header">
		    	X autoria própria
		    	<div class="ui divider"></div>
		    	Y co-autoria
		   		<div class="ui divider"></div>
		    	Z aprovados
			</h5>
		</div>
	</div>
</div>	