<div class="four wide column">
	<div class="ui card">
		<div class="ui content">
			<div class="header">Missões</div>

			<h5 class="ui header">
		    	{{{missions_lenght senator.data.national-missions}}} Nacionais
		    	<div class="ui divider"></div>
		    	{{{missions_lenght senator.data.international-missions}}} Internacionais
			</h5>
			<br><br>
			<div class="meta"> Média do senado:</div>

			<h5 class="ui header">
		    	X Nacionais
		    	<div class="ui divider"></div>
		    	Y Internacionais
			</h5>

		</div>
	</div>
</div>	