<div class="ui card">
	<div class="content">
		<div class="center aligned header">30 anos no poder</div>
		<br>
		<div class="center aligned">já custou aos brasileiros</div>
		<br>
	    <div class="center aligned header">
				<i class="dollar sign icon"></i> {{cotas_resources resources.data}}
		</div>
		<div class="center aligned">em cotas extras</div>
		<br>
	    <div class="center aligned header">
				<i class="dollar sign icon"></i> {{other_resources resources.data}}
		</div>
		<div class="center aligned">em outras cotas extras</div>
		<br>
	    <div class="center aligned header">
				<i class="dollar sign icon"></i> {{senator_salary 2011}}
		</div>
		<div class="center aligned">em salários como senador, até 12/2017</div>
		<br>
	</div>
</div>