<div class="ui card">
	<div class="content">
		<div class="center aligned header">30 anos no poder</div>
		<br>
		<div class="center aligned">já custou aos brasileiros</div>
		<br>
	    <div class="center aligned header">
				<i class="dollar sign icon"></i> 30 bilhões de reais
		</div>
	</div>
</div>