<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.css">
	<link rel="stylesheet" type="text/css" href="/dist/components/accordion.min.css">
	
	<script src="/dist/semantic.js"></script>
	<script src="/dist/components/tab.js"></script>
	<script src="/dist/components/accordion.min.js"></script>

    
    <title>Foca na Foca</title>
</head>
<body>
	
	{{> menu }}

	<div id="main-container" style="margin-top: 7em">
    	{{{body}}}
    </div>

</body>
</html>