<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.css">
	<link rel="stylesheet" type="text/css" href="/dist/components/accordion.min.css">
	
	<script src="/dist/semantic.js"></script>
	<script src="/dist/components/tab.js"></script>
	<script src="/dist/components/accordion.min.js"></script>
	<script src="/dist/components/shape.min.js"></script>


    <!-- TODO: create our XML values file -->
    <!-- title>{{title}}</title -->
    <title>Foca na Foca</title>

</head>
<body>
	
	{{> main-menu }}

	<div id="main-container" style="margin-top: 7em">
    	{{{body}}}
    </div>



<!-- TODO: create our own js file -->
<script type="text/javascript">
	$('.menu .item').tab();
	
	$('.senator-jiggle')
	  .transition({
	    debug     : true,
	    animation : 'jiggle',
	    duration  : 500,
	    interval  : 200
	  });

	$('.ui.sticky')
	  .sticky({
	  	offset: 100,
	    context: '#context'
	  })
	;

	$('.ui.accordion')
	  .accordion()
	;

	$('.shape').shape();

	$('.with-popup').popup({
    position : 'top center',

  })


	$('#view-mandates-btn').click(function() {
		$('.shape').shape('flip right');
    });


</script>

<!-- famosa gambiarra ->
<style>

	.ui.fixed.sticky {
	  padding-top: 7em;
	}
</style -->




</body>
</html>