<div class="ui container" id="senator-content">
	<div class="ui grid">
		<div class="four wide column" id="context">
			{{> senator-list}}
		</div>
		<div class="twelve wide column">
			<div class="ui sticky">
				{{> senator-info-tab }}
			</div>
		</div>
	</div>
</div>




