<div class="ui container" id="senator-content">
	<div class="ui grid">
		<div class="four wide column" id="context">
			{{> senator-list}}
		</div>
		<div class="twelve wide column">
			<div class="ui sticky">
				<div class = "ui grid">
					{{> candidate-card}}
					{{> total-cost-card }}
					{{> hired-ppl-card }}
					{{> presence-card }}
				</div>
				{{> senator-info-tab }}
			</div>
		</div>
	</div>
</div>




